In [1]:
import pandas as pd
from random import choices

In [4]:
data = pd.read_csv('../data/기상_rawfile_csv/1805.csv', encoding='euc-kr')

In [ ]:
def day_counter_old(w_data) :
    cnt_vector = ""
    for i in w_data.wind_speed :
        if i >= 5 :
            cnt_vector += "1"
        else :
            cnt_vector += "0"

    cnt = []
    for i in range(0,len(cnt_vector)) :
        if cnt_vector[i] == "0" :
            pass
        else :
            if cnt_vector[i+1] == "0" :
                pass
            else :
                n = len(cnt_vector[i:].split("0")[0])
                cnt.append(n)
                cnt_vector[i:i+n-1].replace("1","")

    cnts_over5 = []
    for n in cnt :
        if n >=5 :
            cnts_over5.append(n)
        else :
            pass

In [25]:
test = pd.DataFrame(choices([0,1],k=100))
test.columns = ['cnt']
test

    cnt
0     1
1     0
2     0
3     1
4     0
5     0
6     0
7     1
8     0
9     1
10    1
11    0
12    1
13    0
14    0
15    1
16    1
17    1
18    0
19    1
20    1
21    0
22    0
23    0
24    1
25    1
26    0
27    0
28    0
29    1
..  ...
70    1
71    0
72    1
73    0
74    1
75    1
76    1
77    1
78    0
79    0
80    1
81    0
82    1
83    1
84    1
85    1
86    1
87    0
88    1
89    0
90    0
91    1
92    0
93    0
94    1
95    0
96    0
97    0
98    1
99    1

[100 rows x 1 columns]

In [29]:
test_1 = test.loc[test.cnt==1]

In [33]:
for i in test_1.index:
    print(i)

0
3
7
9
10
12
15
16
17
19
20
24
25
29
30
36
42
46
48
49
50
51
52
54
57
59
60
62
63
65
69
70
72
74
75
76
77
80
82
83
84
85
86
88
91
94
98
99

In [32]:
count = []
for i in test_1.index:
    if (int(i)+1)-int(i)==1:
        count.append(i)
count

[0,
 3,
 7,
 9,
 10,
 12,
 15,
 16,
 17,
 19,
 20,
 24,
 25,
 29,
 30,
 36,
 42,
 46,
 48,
 49,
 50,
 51,
 52,
 54,
 57,
 59,
 60,
 62,
 63,
 65,
 69,
 70,
 72,
 74,
 75,
 76,
 77,
 80,
 82,
 83,
 84,
 85,
 86,
 88,
 91,
 94,
 98,
 99]